<div class="container">
  <%= simple_form_for [@project, @task] do |f| %>
    <%= f.input :name, required: true %>
    <%= f.button :submit, required: true, class: 'btn btn-primary' %>
  <% end %>
</div>
