<div class="container">
  <%= simple_form_for [@project, @task] do |f| %>
    <%= f.input :contenu, as: :text, required: true %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
