.card-product {
  overflow: hidden;
  min-height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 24px;
  overflow:auto;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 10px;
}

.card-product p {
  position:absolute;
  bottom: -5px;
  left: 15px;
  font-size: 12px;
}

.card-product h5 {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  position: absolute;
  top: 30px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
  margin-left: 50px;
}

#delete_task a {
  position:absolute;
  top: 30px;
  right: 8px;
  color: red;
}

#update_task a {
  position:absolute;
  top: 3px;
  left: 15px;
  color: blue;
}

.hidden {
  visibility: hidden;
}

.end_of_task {
  position:absolute;
  bottom: 5px;
  right: 15px;
  font-size: 20px;
  padding: 2px;
}

#add-comment a {
  position: absolute;
  top: 25px;
  left: 15px;
}

#comments {
  margin-top: 20px;
}

#up {
  position: absolute;
  top: 3px;
  right: 10px;
}

#down {
  position: absolute;
  top: 3px;
  right: 25px;
}

#logo {
  margin-top: 20px;
  margin-left: 20px;
  width: 500px;
  height:150px;
}

#image-home {
  width: 75%;
  margin-left: 10%;
  margin-top: 8%;
  height: auto;
  position: relative;
}

#first-part {
 position: absolute;
 color: #1f6733;
 top: -8%;
 left: 6%;
 h1 {
  font-size: 125px;
 }
}

#second-part {
  position: absolute;
  color: #1f6733;
  top: -8%;
  left: 35%;
  h1 {
  font-size: 125px;
 }
}

#third-part {
  position: absolute;
  color: #1f6733;
  top: 20%;
  left: 8%;
  h1 {
  font-size: 125px;
 }
}

.home-gauche {
  position: absolute;
  left: 12%;
  margin-top: 5%;
  .btn-primary {
    background-color: white;
    border-color: #1f6733;
    border-width: 3px;
    border-radius: 50px;
    transition: .5s;
    font-size: 40px;
    color: #1f6733;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    &:hover {
      background-color: white;
      color: #1f6733;
      border-color: #1f6733;
      font-size: 42px;
    }
  }
}

.home-droite {
  position: absolute;
  left: 55%;
  margin-top: 5%;
  .btn-primary {
    background-color: white;
    border-color: #1f6733;
    border-width: 3px;
    border-radius: 50px;
    transition: .5s;
    font-size: 40px;
    color: #1f6733;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    &:hover {
      background-color: white;
      color: #1f6733;
      border-color: #1f6733;
      font-size: 42px;
    }
  }
}

.hidden {
  visibility: hidden;
}

.line {
  display: flex;
}

.container {
  position: relative;
}

.nouvelle-intro {
  position: absolute;
  top: 120px;
  left: 30px;
}

.introductions {
  display: flex;
  margin-top: 5px;
}

.conclusions {
  display: flex;
  margin-top: 5px;
}

.duration {
  position:absolute;
  bottom: 5px;
  left: 15px;
  font-size: 12px;
}

.fa-edit {
  color: blue;
}

.fa-trash-alt {
  color: red;
}

.project {
  a {
    color: #1f6733;
    &:hover {
      color: green;
      text-decoration: none;
    }
  }
}

